.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
hello_world/a.out
variables_if_else_while/a.out
functions_nested_loops/a.out
functions_nested_loops/main.h.gch
more_functions_nested_loops/a.out
pointers_arrays_strings/a.out
